<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="frontproyecto-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `frontproyecto-element`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FrontproyectoElement extends Polymer.Element {
      static get is() { return 'frontproyecto-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frontproyecto-element'
          }
        };
      }
    }

    window.customElements.define(FrontproyectoElement.is, FrontproyectoElement);
  </script>
</dom-module>
