<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<dom-module id="api-externa">
  <template>
  <style>
  .tabla {
    style="width:100%"
  }
  :host {
    display: block;
    border: solid green;
    background-color: black;

   }

   .botones {
     margin-left: 20px;
     padding-left: 20px;
     margin-right: 20px;
     font-size: 30px;
     border: solid black;
     color: green;
     color:  #00ff00;
     background-color: black;

   }
   .boton {
     font-size: 30px;
     color: black;
     text-shadow: 1px 1px 0;
     background-color: white;
     box-shadow: 3px 3px 10px #666;
   }

   .datos  {
     font-size: 20px;
     color:  #00ff00;
     color:  #8117ed;
     font-weight: bold;

   }
    .cuerpo {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 25px;

      color: green;

      color:  #00ff00;

      background-color: black;
    }
    .titulo {
      text-align: center;
      color: green;
      padding-top: 20px;

      color:  #00ff00;
    }
    .cabecera  {
      padding: 20px;
      text-decoration: underline red;
    }

    .campos {
      margin-left: 20px;
      font-size: 25px;
      box-shadow: 2px 2px 10px #666;

      color: #9c9c9c;
      color:  #00ff00;
      background-color: black;
    }
    .aviso  {
      margin-left: 25px;
      padding-left: 20px;
      color:red;
      font-size: 20px;
    }
    .paperbutton {
                background: #4682B4;
                color: white;
                font-family:sans-serif;
     }
     .paperbutton2 {
                 color: #4682B4;
                 background: white;
                 font-family:sans-serif;
      }
  </style>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<br>
  <div class="cuerpo">
    <div class="titulo">
        <h3 class='display-5 bg-success'> Los cambios del dolar son: <img width="5%" src="/src/iconos/dolar.png" alt="x" />  </h3>
    </div>

    <div class='botones'>
      <div class='container'>
        <div class='row justify-content-end'>

          <div class = 'col-2 col align-self-end ' >

              <button class='boton' on-click="volver">Volver <img width="30%" src="/src/iconos/volver.jpeg" alt="x" /></button>
          </div>
      </div>
    </div>
  </div>
    <hr>

      <div class="aviso">
           <p id="listado"></p>
      </div>

      <hr>

      <div class='botones'>
        <div class='container'>
          <div class='row justify-content-end'>

            <div class = 'col-2 col align-self-end ' >

                <button class='boton' on-click="volver">Volver <img width="30%" src="/src/iconos/volver.jpeg" alt="x" /></button>
            </div>
        </div>
      </div>
    </div>
<br>
</div>
<br>











   <iron-ajax auto
   id="getdolar"
   url= "https://v3.exchangerate-api.com/bulk/cb989f99f6b8d0d11635262a/USD"
   handle-as="json"
   on-response="manageAJAXResponse"
   on-error="showError">

 </template>
 <script>
 /**
 * @customElement
 * @polymer
 */
 class Apiexterna extends Polymer.Element {
   static get is() { return 'api-externa'; }
   static get properties() {
     return {
       divisas: {
         type: Object
       },cambio: {
         type: String
       },avisos: {
         type: Number,
          value: 0
       },id: {
         type: Number
       }
     };
   }
   manageAJAXResponse(data){
     console.log("api-externa");
     console.log("response: " );
     console.log( data.detail.response);


     this.dispatchEvent(new CustomEvent("respuesta-apiexterna",{"detail":data.detail.response}));

     this.divisas = data.detail.response.rates




        this.cambio = "";
      // let  contador  = 0;
      for (var divisa in this.divisas) {
        if (this.divisas.hasOwnProperty(divisa)) {
          // console.log(divisa+"."+this.divisas[divisa])
          // console.log(this.divisas[divisa])
          // console.log(divisa)
          // console.log(this.divisas[divisa])
          // if ( contador > 0 ) {

              this.cambio += '<p class="datos mx-20" display-4>'  + divisa+":"+this.divisas[divisa] + '</p>' + "\n"
          // }
          // contador ++
        }

      }
      console.log("this.cambio")
      console.log(this.cambio)
      this.shadowRoot.getElementById("listado").innerHTML = this.cambio;

      // alert("Esta pantalla se desconectará en un minuto")
      // setTimeout(function(){
      //
      //       console.log("this.avisos " + this.avisos)
      //       if(this.avisos<60){
      //          this.avisos++
      //         //  if(avisos==5){
      //         //    alert("Esta pantalla se desconectará en un minuto")
      //         //   }
      //       }else{atras()}
      //   },10000);



   } // fin del metodo manageAJAXResponse

   volver(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
         console.log("El usuario ha pulsado el botón operar ");
         console.log("Voy a enviar la petición");
         let url = ('http://127.0.0.1:8081/user/' + this.id)
         window.location.assign(url)        // window.location.href = url
   }  // fin del metodo

   showError(error){
     console.log("Error apiexterna");
     console.log(error);
   }
 }; // fin sw la clase Apiexterna

 window.customElements.define(Apiexterna.is, Apiexterna);
</script>
</dom-module>
