<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">




  <!-- con el all initial estamos reseteando las caracterísicas para que no herede ninguna de las propiedades de index -->
<dom-module id="aperturar-ctas">
  <template>
    <style>
    .tabla {
      style="width:100%"
    }
    :host {
      display: block;
      border: solid green;
      background-color: black;

     }

     .botones {
       margin-left: 20px;
       margin-right: 20px;
       font-size: 30px;

       color: green;
       color:  #00ff00;
       background-color: black;

     }
     .boton {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: white;
       box-shadow: 3px 3px 10px #666;
     }
     .boton1 {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: #81F781;
       box-shadow: 3px 3px 10px #666;
       width: 30%;

     }
     .datos  {
       font-size: 20px;

     }
      .cuerpo {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;

        color: green;

        color:  #00ff00;

        background-color: black;
      }
      .titulo {
        text-align: center;
        color: green;
        padding-top: 20px;

        color:  #00ff00;
      }
      .cabecera  {
        padding: 20px;
        text-decoration: underline red;
      }

      .campos {
        margin-left: 20px;
        font-size: 25px;
        box-shadow: 2px 2px 10px #666;

        color: #9c9c9c;
        color:  #00ff00;
        background-color: black;
      }
      .aviso  {
        margin-left: 25px;
        color:red;
        font-size: 20px;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperbutton2 {
                   color: #4682B4;
                   background: white;
                   font-family:sans-serif;
        }
    </style>
     <!-- link  de BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- definimos la pantalla que va a tener dos campos input para email y password y un botón -->
    <!-- {{email::input}} es porque es two way para que lo que se escriba en la pantalla se recupere     -->
    <!-- {{email::input}} Los dos puntos es para      -->



<div class='cuerpo'>
  <div class='titulo'>
      <h2 class="display-5 bg-success"> Apertura de nuevos contratos  <img width="5%" src="/src/iconos/contratar.png" alt="x" /></h2>
  </div>


   <br>

    <form>
      <div>
              <div class='campos'>
                  <label for="importe">Importe:</label>
                  <input placeholder="0,00" size="15" type="text" id="importe" type="range" min="500" value="{{importe::input}}"/>




                   <select  items="{{concepto}}" name="tipoctas"  id="tipoctas">>

                          <option  value="Cuenta Corriente">  Cuenta Corriente</option>
                          <option  value="Cuenta Ahorro">  Cuenta Ahorro</option>
                          <option  value="Cuenta Vivienda">  Cuenta Vivienda</option>


                    </select>
                </div>

            <div class="aviso">
                  <p id="msgimporte"></p>
            </div>




      </div>
    </form>
    <br><br>
    <br>
    <br>
      <div class='botones'>
          <button class="boton1" on-click="abrirctas">Alta de Cuenta </button>

      </div>

      <br>
      <br>
      <br>

</div>
<br>
<div class='botones'>
  <div class='container'>
    <div class='row justify-content-end'>

      <div class = 'col-2 col align-self-end ' >

          <button class='boton' on-click="volver">Volver <img width="30%" src="/src/iconos/volver.jpeg" alt="x" /></button>
      </div>
  </div>
</div>
</div>

      <!-- iron-ajax, que es lo que se necesita para utilizar AJAX -->

      <!-- EN URL hemos puesto la htp de postman  -->
      <!-- el iron-ajax es auto porque se ejecuta sin más, en este caso es necesario introducir datos y pulsar intro -->
      <!--handle-as sirve para indicar el formato de los datos, en este caso JSON -->
      <!-- El método en este caso es POST -->
      <!-- ON-RESPONSE, se define el método que se encarga de rellenar los campos de respuesta en la página -->
      <!-- on-error, se define el metodo que se encarga de gestionar los errores, en este caso showError -->

      <iron-ajax
        id="doOpen"
        url="http://localhost:3000/apitechu/v5/cuenta"

        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse"
        on-error = "showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */


//  Alta de la clase LoginUsuario, que hereda de la clase Polymer

// La clase LoginUsuario tiene por dentro :
//    Los metodos staticos get is() y get properties()
//    El método Login(), que se encarga de construir en JSON la variable del req -solicitud- y enviarla con generateRequest al MLAB
//    El método on-response de iron-ajax, manageAJAXResponse que se encarga de pasarlo a la pantalla
//    El Método showError para el tratamiento del error.
//

    class aperturarCuentas extends Polymer.Element {


      // Se invoca a los métodos estáticos get is y get properties que devuelve el email y la password
      static get is() { return 'aperturar-ctas'; }
      static get properties() {
        return {
           id: {
            type: Number
          }, iban: {
            type:   String
          }, pagina: {
            type: String
          }, aperturada: {
            type:Boolean,
            value: false
          }, importe: {
            type: String
          }, concepto: {
            type: String
          }, token: {
            type: Number
          }, saldo: {
            type: Number
          }
        };
      } // fin del método get properties()

      // Dentro de la

      //var pagina = "";




        abrirctas(){ // se define un  metodo  para crear una  variable JSON con el contenido



            console.log("Vamos a abrir la cuenta");

            this.token  = this.id
            console.log("this.token " + this.token )




            console.log("importe" + this.importe);

            let imp = parseInt(this.importe)
            this.importe = imp
            console.log(typeof this.importe)






              //var importeOk = this.importe.checkValidity()
              //console.log(importeOk)



            if (isNaN(this.importe)){
              console.log("el importe es no numérico")
              let error = "El importe no es numérico, por favor, corríjalo"
              this.shadowRoot.getElementById("msgimporte").innerHTML = error

           } else {
                 if (this.importe<500){
                   console.log("el importe tiene que superar los 500")
                   let error = "el importe tiene que superar los 500"
                   this.shadowRoot.getElementById("msgimporte").innerHTML = error
                 }else{
                     let error = "Importe correcto"
                     console.log("importe correcto")
                     this.concepto =  this.shadowRoot.querySelector("#tipoctas").value;


                     console.log("importe" + this.importe);
                     console.log("concepto" + this.concepto);

                     console.log("id " + this.id);
                     console.log("token " + this.token);


                     var openCtas = {
                       "Importe" : this.importe,
                       "Concepto": this.concepto,
                       "token": this.id

                     };
                      this.$.doOpen.body = JSON.stringify(openCtas); // el dolar es por acceder a un elemento del DOM local. La id de iron-ajax
                     //
                      this.$.doOpen.generateRequest();

                      console.log("petición enviada");
                 }

            }



        }  // fin del metodo abrir ctas

        volver(){ // se define un  metodo que se llama cuentas
            console.log("El usuario ha pulsado el botón salir ");
            console.log("Voy a enviar la petición");
            this.token  = this.id
            console.log("token " + this.token);
            console.log("id " + this.id);

            let url = ('http://127.0.0.1:8081/user/' + this.token)

            console.log(" url "  +   url)

           window.location.assign(url)





         }  // salir



        manageAJAXResponse(data){ // Metodo on-response del Iron-ajax que va a rellenar los campos de la página
          console.log("llegaron los datos");
          console.log(data.detail.response);// si es un objeto puedo utilizar el punto si fuera un array tendría que utilizar [i]


          this.iban= data.detail.response.IBAN;
          this.aperturada = true



         let url = ('http://127.0.0.1:8081/user/' + this.token + '/cuentas/' + this.token)
         window.location.assign(url)        // window.location.href = url


        } //fin del metodo manageAJAXResponse

        showError(error) {
          console.log("Hubo un Error");
          console.log(error);
        }


    } // Fin de la clase aperturarCuentas

    window.customElements.define(aperturarCuentas.is, aperturarCuentas);
  </script>
</dom-module>
