<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->



  <!-- con el all initial estamos reseteando las caracterísicas para que no herede ninguna de las propiedades de index -->
<dom-module id="login-usuario">
  <template>
    <style>
    .tabla {
      style="width:100%"
    }
    :host {
      display: block;
      border: solid green;
      background-color: black;

     }

     .botones {
       margin-left: 20px;

       margin-right: 20px;
       font-size: 30px;

       color: green;
       color:  #00ff00;


     }
     .boton {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: white;
       box-shadow: 3px 3px 10px #666;
       width: 100%;
       background-color: #81F781;
     }

     .datos  {
       font-size: 20px;

     }
      .cuerpo {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;
        color: green;
        color:  #00ff00;
      }

      .titulo {
        text-align: center;
        color: green;

        padding-top: 20px;

        color:  #00ff00;
      }
      .cabecera  {
        padding: 20px;
        text-decoration: underline red;
      }
      .formulario {
        border: solid green;
        border-radius: : 10px 10px 0px 0px;
        text-align: center;

        font-size: 25px;
        box-shadow: 2px 2px 10px #666;

        color: #9c9c9c;
        color:  #00ff00;
        background-color: green;
      }

      .campos2 {
        margin-left: 20px;

        font-size: 25px;
        box-shadow: 2px 2px 10px #666;

        color: #9c9c9c;
        color:  #00ff00;

      }
      .aviso  {
        margin-left: 25px;
        color:red;
        font-size: 20px;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperbutton2 {
                   color: #4682B4;
                   background: white;
                   font-family:sans-serif;
        }
    </style>
     <!-- link  de BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    <!-- definimos la pantalla que va a tener dos campos input para email y password y un botón -->
    <!-- {{email::input}} es porque es two way para que lo que se escriba en la pantalla se recupere     -->
    <!-- {{email::input}} Los dos puntos es para      -->
<br>
    <!-- <div class='cuerpo'>
          <div class='titulo'>
            <h3> Si ya eres TechU, identificate y pulsa Login</h3>
          </div>
          <br>
          <div class="campos">

              <input placeholder="Email" class="col-5" id="email" type="text" value="{{email::input}}"/>

              <input placeholder="Password" class="col-5"  id="password" type="password" value="{{password::input}}"/>
          </div>
          <br>
          <div class='botones'>
              <button id='btnlogin'class='boton' on-click="login">Login</button>
          </div>
          <br> <br>
     </div> -->
     <div class='cuerpo'>


            <div class="campos">
              <div class='container pt-5'>
                <div class='row'>
                  <div class = 'col-12'  >
                        <div class='titulo display-1'>
                            <h1 class='py-1 text-center  display-3'> Identificación <img width="15%" src="/src/iconos/identificacion.jpeg" alt="x" /> </h1>

                        </div>  <!--titulo-->
                      </div> <!--col-12-->
                    </div>  <!--row-->
                  </div>  <!--container-->
              <div class='container formulario pb-5'>
                <div class='row'>
                  <div class = 'col-6 col-offset-1'  >
                        <div class='titulo'>
                            <h3> Entra en la API </h3>

                        </div>  <!--titulo-->

                        <!-- <form> -->
                              <div class='form-group'>
                              <!-- <div> -->
                                    <input placeholder="Email" class="form-control" id="email" type="text" value="{{email::input}}"/>

                              </div>
                              <!-- <hr> -->
                              <!-- <div> -->
                              <div class='form-group'>

                                    <input placeholder="Password" class="form-control"  id="password" type="password" value="{{password::input}}"/>

                              </div>
                              <!-- <hr> -->
                              <div>
                                  <button id='btnlogin'class='boton' on-click="login">Login</button>

                              </div>
                        <!-- </form> -->

                  </div> <!--col-6-->
                  <div class = 'col-6 col-offset-1'  >
                        <div class='titulo'>
                            <h3> Alta en el Sistema</h3>

                        </div>  <!--titulo-->

                        <!-- <form> -->

                        <div class='botones'>
                            <button  id='btnregistro' class='boton' on-click="registro">Regitrarse</button>
                        </div>
                        <!-- </form> -->

                  </div> <!--col-6-->
                </div>  <!--row-->
              </div>  <!--container-->
            </div> <!--campos-->
      <br>
    </div>  <!--cuerpo-->



     <div class="aviso">
        <p id="msg"></p>
          <p id="err"></p>
     </div>
      <br>





    <!-- <span hidden$="{{!isLogged}}">Bienvenido de nuevo</span> -->


      <!-- iron-ajax, que es lo que se necesita para utilizar AJAX -->

      <!-- EN URL hemos puesto la htp de postman  -->
      <!-- el iron-ajax es auto porque se ejecuta sin más, en este caso es necesario introducir datos y pulsar intro -->
      <!--handle-as sirve para indicar el formato de los datos, en este caso JSON -->
      <!-- El método en este caso es POST -->
      <!-- ON-RESPONSE, se define el método que se encarga de rellenar los campos de respuesta en la página -->
      <!-- on-error, se define el metodo que se encarga de gestionar los errores, en este caso showError -->

      <iron-ajax
         id="doLogin"
         url="http://localhost:3000/apitechu/v2/loginAuth"
         handle-as="json"
         content-type="application/json"
         method="POST"
         on-response="manageAJAXResponse"
         on-error = "showError">




   </template>

   <script>
     /**
      * @customElement
      * @polymer
      */


 //  Alta de la clase LoginUsuario, que hereda de la clase Polymer

 // La clase LoginUsuario tiene por dentro :
 //    Los metodos staticos get is() y get properties()
 //    El método Login(), que se encarga de construir en JSON la variable del req -solicitud- y enviarla con generateRequest al MLAB
 //    El método on-response de iron-ajax, manageAJAXResponse que se encarga de pasarlo a la pantalla
 //    El Método showError para el tratamiento del error.
 //

     class LoginUsuario extends Polymer.Element {


       // Se invoca a los métodos estáticos get is y get properties que devuelve el email y la password
       static get is() { return 'login-usuario'; }
       static get properties() {
         return {
             email: {
             type: String
           }, password: {
             type: String
           }, isLogged: {
             type:Boolean,
             value: false
           }, pagina: {
             type: String
           }, token: {
             type: Number
           }, id: {
             type: Number
           }
         }
       } // fin del método get properties()

       // Dentro de la








         login(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
             //console.log("login()")


             //console.dir(this.shadowRoot.querySelector('#email'))
             this.email =   this.shadowRoot.querySelector('#email').value
             this.password = this.shadowRoot.querySelector('#password').value

             //console.log("email " + this.email + " - " + this.password)



             //console.log("Ha pulsado el boton login " + this.email + "-" + this.password)
               var loginData = {
                   "email" : this.email,
                   "password": this.password
                 };

               this.pagina = "user/";





              this.$.doLogin.body = JSON.stringify(loginData); // el dolar es por acceder a un elemento del DOM local. La id de iron-ajax

              this.$.doLogin.generateRequest();

             console.log("petición enviada");

         }  // fin del metodo login

         registro(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
             //console.log("registro()")

             var url = 'http://127.0.0.1:8081/registro'
             window.location.href = url
         }  // fin del metodo registro




         manageAJAXResponse(data){ // Metodo on-response del Iron-ajax que va a rellenar los campos de la página
           console.log("llegaron los datos");
           console.log(data.detail.response);// si es un objeto puedo utilizar el punto si fuera un array tendría que utilizar [i]

           this.token = parseInt(data.detail.response.token)
           this.isLogged = true;

           console.log(typeof this.token)
           this.id = parseInt(data.detail.response.token)


           // Le redericionamos a la página visor usuario
           if (data.detail.response.token> 0){ //si ha encontrado algo...

               console.log("token " + data.detail.response.token);

               console.log("pagina " + this.pagina);

               console.log("respuesta " + data.detail.response[0])



               //
               var url = 'http://127.0.0.1:8081/registro'


               if (this.pagina ==  "user/" ){
                  url = ('http://127.0.0.1:8081/user/' + this.id)

                    console.log("url " +  url )
               }

               console.log("url " + url )

               window.location.href = url


               //window.location = this.pagina + data.detail.response.token;
           }else{
             console.log(data.detail.response.mensaje)
             let msgerror = data.detail.response.mensaje
             this.shadowRoot.getElementById("msg").innerHTML = msgerror
           }


         } //fin del metodo manageAJAXResponse

         showError(error) {
           console.log("Hubo un Error");
           console.log(data.detail.response[0]);
           console.log(error);


         }


     } // Fin de la clase LoginUsuario


     window.customElements.define(LoginUsuario.is, LoginUsuario);
   </script>
 </dom-module>
