_ <link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


  <!-- con el all initial estamos reseteando las caracterísicas para que no herede ninguna de las propiedades de index -->
<dom-module id="create-usuario">
  <template>
    <style>
    .tabla {
      style="width:100%"
    }
    :host {
      display: block;
      border: solid green;
      background-color: black;

     }

     .botones {
       margin-left: 20px;
       padding-top: 20px;
       padding-bottom: 20px;
       padding-left: 20px;

       margin-right: 20px;
       font-size: 30px;
       border: solid black;
       color: green;
       color:  #00ff00;
       background-color: black;

     }
     .boton {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: white;
       box-shadow: 3px 3px 10px #666;
       width: 100%;
       text-align: right;
     }
     .boton1 {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: #81F781;
       box-shadow: 3px 3px 10px #666;
       width: 100%
     }

     .datos  {
       font-size: 20px;

     }
      .cuerpo {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;

        color: green;

        color:  #00ff00;

        background-color: black;
      }
      .titulo {
        text-align: center;
        color: green;
        padding-top: 20px;

        color:  #00ff00;
      }
      .formulario {
        border: solid green;
        border-radius: : 15px 15px 0px 0px;
        text-align: center;

        font-size: 25px;
        box-shadow: 2px 2px 10px #666;

        color: #9c9c9c;
        color:  #00ff00;
        background-color: green;
      }
      .cabecera  {
        padding: 20px;
        text-decoration: underline red;
      }

      .campos {
        margin-left: 20px;
        font-size: 25px;


        color: #9c9c9c;
        color:  #00ff00;
        background-color: black;
      }
      .aviso  {
        margin-left: 25px;
        color:red;
        font-size: 20px;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperbutton2 {
                   color: #4682B4;
                   background: white;
                   font-family:sans-serif;
        }
        .center-block{
              float: none;
        }


    </style>
     <!-- link  de BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- definimos la pantalla que va a tener dos campos input para email y password y un botón -->
    <!-- {{email::input}} es porque es two way para que lo que se escriba en la pantalla se recupere     -->
    <!-- {{email::input}} Los dos puntos es para      -->

    <br>
      <div class='cuerpo'>

             <!-- <div class='container'>
               <div class='row justify-content-center'>
                 <div class = 'col-6 col align-self-center'>
                       <div class='titulo'>
                           <h3 class= 'py-1 text-center bg-success display-5'> Introduce tus datos para Registrate </h3>
                       </div>
                 </div> <!--col12-->
               <!-- </div> <!--row-->
             <!-- </div> <!--container-->



        <div class="campos">
          <div class='container'>
            <div class='row justify-content-center'>

              <div class = 'col-6 formulario' >
                    <div class='titulo row justify-content-between'>
                        <h3> <img width="15%" src="/src/iconos/altausuario.jpeg" alt="x" /> Alta de Usuario </h3>
                    </div>  <!--titulo-->



                          <div class='form-group'>
                          <!-- <div> -->
                                <input placeholder="Nombre" class="form-control" type="text" value="{{nombre::input}}"/>
                          </div>
                          <!-- <hr> -->
                          <!-- <div> -->
                          <div class='form-group'>

                                <input placeholder="Apellido" class="form-control" type="text" value="{{apellido::input}}"/>
                          </div>
                          <div class='form-group'>

                                <input placeholder="Email" class="form-control" type="text" value="{{email::input}}"/>
                          </div>
                          <div class='form-group'>

                                <input placeholder="Password"  class="form-control" type="password" value="{{password::input}}"/>
                          </div>
                          <!-- <hr> -->
                          <div>
                              <button class='boton1' on-click="altauser">Registro</button>
                          </div>


              </div> <!--col-8-->
            </div>  <!--row-->
          </div>  <!--container-->
        </div> <!--campos-->

    </div>  <!--cuerpo-->

    <div class="aviso">
       <p id="msg"></p>
    </div>

<hr>
<br>


    <div class='botones'>
      <div class='container'>
        <div class='row justify-content-end'>

          <div class = 'col-2 col align-self-end ' >

              <button class='boton' on-click="volver">Volver <img width="30%" src="/src/iconos/volver.jpeg" alt="x" /></button>
          </div>
      </div>
    </div>
  </div>










      <!-- iron-ajax, que es lo que se necesita para utilizar AJAX -->

      <!-- EN URL hemos puesto la htp de postman  -->
      <!-- el iron-ajax es auto porque se ejecuta sin más, en este caso es necesario introducir datos y pulsar intro -->
      <!--handle-as sirve para indicar el formato de los datos, en este caso JSON -->
      <!-- El método en este caso es POST -->
      <!-- ON-RESPONSE, se define el método que se encarga de rellenar los campos de respuesta en la página -->
      <!-- on-error, se define el metodo que se encarga de gestionar los errores, en este caso showError -->

      <iron-ajax
        id="doAltauser"
        url="http://localhost:3000/apitechu/v2/users"

        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse"
        on-error = "showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */


//  Alta de la clase LoginUsuario, que hereda de la clase Polymer

// La clase LoginUsuario tiene por dentro :
//    Los metodos staticos get is() y get properties()
//    El método Login(), que se encarga de construir en JSON la variable del req -solicitud- y enviarla con generateRequest al MLAB
//    El método on-response de iron-ajax, manageAJAXResponse que se encarga de pasarlo a la pantalla
//    El Método showError para el tratamiento del error.
//

    class createusuario extends Polymer.Element {
      // Se invoca a los métodos estáticos get is y get properties que devuelve el email y la password
      static get is() { return 'create-usuario'; }
      static get properties() {
        return {
            nombre:{
              type : String
          }, apellido:{
              type : String
          }, email: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            type:Boolean,
            value: false
          }, token: {
            type: Number
          }, id: {
            type: Number
          }

        };
      } // fin del método get properties()

      // Dentro de la

        altauser(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
            console.log("El usuario ha pulsado el botón altausuario ");
            console.log("Voy a enviar la petición");
            console.log(" nombre"  + this.nombre);
            console.log ("Apellido" + this.apellido);
            console.log ("email" + this.email);
            console.log("validando la password1- " + this.password + "-" + this.password.lenght)

            let espacios = false;
            let cont = 0;
            if ((this.password === undefined)){
              console.log("password undefined")
              espacios = true;
            }else{
                console.log("validando la password2- " + this.password + "-" + this.password.length)
                while ((!espacios) && (cont < this.password.length)) {
                  console.log("comprobando spacios " + cont)
                   if (this.password.charAt(cont) === " "){
                      espacios = true;
                   }// end-if
                   cont++;
                }// end while
            }// end undefined

            console.log("espacios" + espacios)
            console.log("validar el email")
            if (this.email ===undefined){
              punto = 0;
            }else{
              var punto = 0;
              var contarrobas = 0;
              for (var i = 0; i<this.email.length;i++) {
              				switch (this.email.charAt(i)) {
              				case '.':
              						punto = 1;
              				break;
              				case '@':
              					 contarrobas ++;
              				break;
              				} // switch
              	} // for
              	if (this.email.charAt(0)== '.' || this.email.charAt(0)== '@') {
              				punto = 0;
              	}
              	if (this.email.charAt(this.email.length-1)== '.' || this.email.charAt(this.email.length-1)== '@') {
              				punto = 0;
            		}
                console.log(" punto " + punto );
            }// end-if validar email
            console.log("validando todos los campos ")
            console.log(" Nombre"  + this.nombre);
            console.log ("Apellido" + this.apellido);
            console.log ("email" + this.email);
            console.log ("email" + this.email);

            if ((this.nombre===undefined) || (this.apellido===undefined) || (this.email===undefined) || (this.password===undefined)) {
                let msg = "Debe rellenar todos los campos"
                this.shadowRoot.getElementById("msg").innerHTML = msg
            }else {
                if (punto == 1 && contarrobas == 1) {// el email es valido
                   if ((espacios)||(this.password === undefined)){//la password no es válida
                       let msg = "La password no puede contener espacios"
                       this.shadowRoot.getElementById("msg").innerHTML = msg
                   }else { // la password es valida
                        // Se define la variable loginData.
                        // En el momento que escriba en el input ya tenemos los datos porque
                        // tal y como lo hemos definido en el input es {{two way}}
                        // this accedo al webcomponent
                        if ((this.nombre== null) || (this.nombre.length == 0) || (/^\s+$/.test(this.nombre))) {
                           let msg = "Por favor, tiene que rellenar el nombre"
                           this.shadowRoot.getElementById("msg").innerHTML = msg

                        }else{
                          if ((this.apellido== null) || (this.apellido.length == 0) || (/^\s+$/.test(this.apellido))) {
                              let msg = "Por favor, tiene que rellenar el apellido"
                              this.shadowRoot.getElementById("msg").innerHTML = msg

                          }else{
                              var createData = {
                                "first_name" :  this.nombre,
                                "last_name" : this.apellido,
                                "email" : this.email,
                                "password": this.password
                              };
                              console.log(" createData " + createData);
                              console.log("petición enviada");
                              // empaquetamos la información en formato JSON, por eso hacemos el stringify
                              //  la ID de iron-ajax, que es doLogin, se rellena con el valor de email y password
                              this.$.doAltauser.body = JSON.stringify(createData); // el dolar es por acceder a un elemento del DOM local. La id de iron-ajax
                              //   la ID de iron-ajax, que es doLogin, invoca al método generateRequest que genera la respuesta
                              this.$.doAltauser.generateRequest();

                        }// end-if  apellido relleno
                      }// end-if nombre  relleno

                    } // end-if de la validacion de la password

              	} else {
              				let msg = "El Email no es correcto"
                      this.shadowRoot.getElementById("msg").innerHTML = msg
              	}// end -if de la validacion del email
            }// end-if
        }  // fin del metodo create

        volver(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
                  console.log("volver");
                  let url = ('http://127.0.0.1:8081/login')

                     console.log("url " +  url )
                     window.location.assign(url)



        }  // fin del metodo volver


        manageAJAXResponse(data){ // Metodo on-response del Iron-ajax que va a rellenar los campos de la página
          console.log("llegaron los datos");
          console.log(data.detail.response);// si es un objeto puedo utilizar el punto si fuera un array tendría que utilizar [i]
          console.log("TOKEN " + data.detail.response.token);

          if (data.detail.response.token > 0 ){
              this.isLogged = true;
              this.token = data.detail.response.token;
              this.id = data.detail.response.id;

              // ****************************************
              // si queremos ir por id asteriscamos la linea de abajo
              // *******************************************
                    this.id= this.token;
             // *******************************************

              // Le redericionamos a la página visor usuario

            let url = ('http://127.0.0.1:8081/user/' + this.id)

               console.log("url " +  url )
               window.location.assign(url)
          } else {

              // let error = "Los datos introducidos no son válidos"
              // this.shadowRoot.getElementById("msg").innerHTML = error
              console.log("No viene informado el token, por lo que se produce un erro")
              let msgerror = data.detail.response.mensaje
              this.shadowRoot.getElementById("msg").innerHTML = msgerror


          }

        } //fin del metodo manageAJAXResponse

        showError(error) {
          console.log("Hubo un Error");
          console.log(error);

        }
    } // Fin de la clase createusuario

    window.customElements.define(createusuario.is, createusuario);
  </script>
</dom-module>
