<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<!-- <link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html"> -->


  <!-- con el all initial estamos reseteando las caracterísicas para que no herede ninguna de las propiedades de index -->
<dom-module id="visor-movimientos">
<template>


<style>


.tabla {
  style="width:100%"
}
:host {
  display: block;
  border: solid green;
  background-color: black;

 }

 .botones {
   margin-left: 20px;
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-right: 20px;
   font-size: 30px;

   color: green;
   color:  #00ff00;
   background-color: black;

 }
 .boton {
   font-size: 30px;
   color: black;
   text-shadow: 1px 1px 0;
   background-color: white;
   box-shadow: 3px 3px 10px #666;
 }

 .datos  {
   font-size: 15px;

 }
  .cuerpo {
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
    font-size: 25px;

    color: green;

    color:  #00ff00;

    background-color: black;
  }
  .titulo {
    text-align: center;
    color: green;
    padding-top: 20px;

    color:  #00ff00;
  }
  .cabecera  {
    padding: 20px;
    text-decoration: none;
    background-color:green;
  }

  .campos {
    margin-left: 20px;
    font-size: 25px;
    box-shadow: 2px 2px 10px #666;

    color: #9c9c9c;
    color:  #00ff00;
    background-color: black;
  }
  .aviso  {
    margin-left: 25px;
    color:red;
    font-size: 20px;
  }
  .paperbutton {
              background: #4682B4;
              color: white;
              font-family:sans-serif;
   }
   .paperbutton2 {
               color: #4682B4;
               background: white;
               font-family:sans-serif;
    }
</style>
 <!-- link  de BOOTSTRAP -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<br>
 <div class='cuerpo'>
   <div class='titulo'>
       <h3 class ='display-4 '> Consulta de Movimientos  <img width="5%" src="/src/iconos/movimientos.jpeg" alt="x" /></h3>
   </div>
    <div class ="titulo display-4 lead">

      <h2>Los movimientos de su cuenta: {{id}} </h2>
    </div>



    <div class="row justify-content-start cabecera" >
       <div class="col-3">
         <div class='row'>
            <div class="col-1"></div>
                <div class="col-1">Fecha</div>
        </div>
        </div>
        <div class="col-6">
            <div class='row'>
              <div class="col-1"></div>
              <div class="col-1" >Concepto</div>
            </div>
        </div>
       <div class="col-3">
            Importe
       </div>
    </div>



    <template is="dom-repeat" items="{{movimientos}}" id="accountsList">
          <div class="row justify-content-start"  class="cuerpo">
              <!-- <input type="radio" on-click="ctaevento" name="ctas" value={{item.IBAN}}> - {{item.IBAN}} -->
              <div class="col-3" class="datos">
                  {{item.Fecha}}
              </div>

              <div class="col-6">
                  {{item.Concepto}}
              </div>

               <div class="col-3">
                  {{item.Importe}}
               </div>
        </div>

    </template>



    <br>

              <div class='botones'>
                <div class='container'>
                  <div class='row justify-content-end'>

                    <div class = 'col-2 col align-self-end ' >

                        <button class='boton' on-click="volver">Volver <img width="30%" src="/src/iconos/volver.jpeg" alt="x" /></button>
                    </div>
                </div>
              </div>
            </div>
<br>
</div>



      <!-- hemos puesto la htp de postman del get user v2 id     url="http://localhost:3000/apitechu/v2/users/{{id}}" -->
      <!-- cuando el iron-ajax es auto porque se ejecuta sin más -->
      <iron-ajax  auto
      id="getmovimientos"
      url="http://localhost:3000/apitechu/v2/movimientos/{{id}}"
      handle-as="json"
      on-response="showData">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
           id: {
            type: Number
          }, iban: {
            type:   String
          }, saldo: {
            type: Number
          }, movimientos: {
            type: Array
          }, pagina: {
            type: String
          }, token: {
            type: Number
          }, seleccionada: {
            type:Boolean,
            value: false
          }
        };
      }




        showData(data){ // en el método showData se rellenan los campos de la página
          console.log("data.detail.response " + data.detail.response);// si es un objeto puedo utilizar el punto si fuera un array tendría que utilizar [i]
           // con el this accedo al webcomponent. la propiedad que se corresponde con el detalle del dato punto,por ser una objeto

          this.movimientos= data.detail.response;




          console.log("id"  + this.id)
          console.log("iban"  + this.iban)
          console.log("token"  + this.token)





          //this.iban = data.detail.response[0].IBAN;
          //this.Balance = data.detail.response[0].Balance;

        } // fin del método showData



        volver(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
            console.log("El usuario ha pulsado el botón salir ");
            console.log("Voy a enviar la petición");


            this.pagina = "/cuentas/";

            console.log ("vamos a intentar recuperar los sesion storage ")


            console.log(" ********   token  *********")
            console.log(sessionStorage['mitoken']);
            this.token = sessionStorage['mitoken']

           sessionStorage.removeItem('mitoken');


            let url = ('http://127.0.0.1:8081/user/' + this.token + this.pagina + this.token)

           console.log(" url "  +   url)

           window.location.assign(url)        // window.location.href = url


        }  // fin del metodo







    }// fin de la clase VisorCuentas



    //window.location = this.pagina + this.iban;


    window.customElements.define(VisorMovimientos.is, VisorMovimientos);




  </script>
</dom-module>
