<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<!-- <link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html"> -->


  <!-- con el all initial estamos reseteando las caracterísicas para que no herede ninguna de las propiedades de index -->
<dom-module id="visor-cuentas">
<template>


    <style>
    .tabla {
      style="width:100%"
    }
    :host {
      display: block;
      border: solid green;
      background-color: black;

     }

     .botones {
       margin-left: 20px;
       padding-top: 20px;
       padding-bottom: 20px;
       padding-left: 20px;

       margin-right: 20px;
       font-size: 30px;
       border: solid black;
       color: green;
       color:  #00ff00;
       background-color: black;

     }
     .boton {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: white;
       box-shadow: 3px 3px 10px #666;
     }
     .boton1 {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: #81F781;
       box-shadow: 3px 3px 10px #666;
       width: 100%
     }

     .datos  {
       font-size: 20px;

     }
     .marcado  {
       font-size: 20px;
       text-decoration:underline red;
     }
      .cuerpo {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;

        color: green;

        color:  #00ff00;

        background-color: black;
      }
      .titulo {
        text-align: center;
        color: green;
        padding-top: 20px;

        color:  #00ff00;
      }
      .formulario {
        border: solid green;
        border-radius: : 15px 15px 0px 0px;
        text-align: center;
        margin-top: 20px;

        font-size: 25px;
        box-shadow: 2px 2px 10px #666;

        color: #9c9c9c;
        color:  #00ff00;
        background-color: green;
      }
      .cabecera  {
        padding: 20px;
        text-decoration: none;
        background-color:green;
      }

      .campos {
        margin-left: 20px;
        font-size: 25px;


        color: #9c9c9c;
        color:  #00ff00;
        background-color: black;
      }
      .aviso  {
        margin-left: 25px;
        color:red;
        font-size: 20px;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperbutton2 {
                   color: #4682B4;
                   background: white;
                   font-family:sans-serif;
        }
        .center-block{
              float: none;
        }
    </style>
     <!-- link  de BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <br>
   <div class='cuerpo'>
        <div class='titulo'>

              <h3 class ='display-4 '> Posición Global del cliente  <img width="5%" src="/src/iconos/bolsa.jpeg" alt="x" /></h3>


        </div>

        <div class="row justify-content-start cabecera" >
           <div class="col-2">
             Cta.1
           </div>
           <div class="col-3">
             IBAN
           </div>
           <div class="col-2">
             Cta.2
           </div>
           <div class="col-2">
              Saldo
           </div>
           <div class="col-2">
               <div class='row'>
                 <div class="col-1"></div>
                 <div class="col-1" >Concepto</div>
               </div>
           </div>
           <!-- <div class="col-3">
              Concepto
           </div> -->

        </div>






        <template is="dom-repeat" items="{{cuentas}}" id="accountsList">
          <div class="row justify-content-start cuerpo">
            <div class="col-1 datos">

                  <div class="col-1 col-offset-1"><input type="radio" class='radio' on-click="ctaevento1" name="ctasorigen"></div>

            </div>


           <div id='origen' id='destino' class='col-4 datos'>{{item.IBAN}}</div>

            <div class="col-2 datos">
                <div class='row'>
                    <div  class="col-1 col-offset-1"><input type="radio" class='radio' on-click="ctaevento2" name="ctadestino"></div>
                </div>
            </div>

             <div class="col-2">
             {{item.Importe}}
             </div>

             <div class="col-3">
             {{item.Concepto}}
             </div>

           </div>
        </template>
        <div class="aviso">
             <p id="msg"></p>
        </div>
        <hr>

        <div class='container formulario pb-5'>
          <div class='row'>
            <div class = 'col-6 col-offset-1'  >
                  <div class='titulo'>
                      <h3> Seleccione una única cuenta  </h3>
                      <i class= 'fa fa-key'></i>
                  </div>  <!--titulo-->

                  <!-- <form> -->
                        <div class='form-group'>
                        <!-- <div> -->
                            <button class ='boton1' on-click="consultar">Consultar <img width="12%" src="/src/iconos/visor.jpeg" alt="x" /></button>


                        </div>
                        <!-- <hr> -->
                        <!-- <div> -->
                        <div class='form-group'>

                              <button class ='boton1' on-click="operar">Operar <img width="12%" src="/src/iconos/operar.png" alt="x" /></button>

                        </div>
                        <!-- <hr> -->

                  <!-- </form> -->

            </div> <!--col-6-->
            <div class = 'col-6 col-offset-1'  >
                  <div class='titulo'>
                      <h3> Selecciones dos cuentas</h3>

                  </div>  <!--titulo-->

                  <!-- <form> -->

                  <div class='form-group'>
                      <button class ='boton1' on-click="traspasar">Traspasar <img width="12%" src="/src/iconos/transferencia.jpeg" alt="x" /></button>
                  </div>
                  <!-- </form> -->

            </div> <!--col-6-->
          </div>  <!--row-->
        </div>  <!--container-->
      </div> <!--campos-->
      <br>
      </div>  <!--cuerpo-->
      <br>




          <div class='botones'>
            <div class='container'>
              <div class='row justify-content-end'>

                <div class = 'col-2 col align-self-end ' >

                    <button class='boton' on-click="volver">Volver <img width="30%" src="/src/iconos/volver.jpeg" alt="x" /></button>
                </div>
            </div>
          </div>
        </div>





      <!-- hemos puesto la htp de postman del get user v2 id     url="http://localhost:3000/apitechu/v2/users/{{id}}" -->
      <!-- cuando el iron-ajax es auto porque se ejecuta sin más -->
      <!-- el apitechu/v3/cuentas va por token   -->
      <iron-ajax  auto
      id="getCuentas"
      url="http://localhost:3000/apitechu/v3/cuentas/{{id}}"
      handle-as="json"
      on-response="showData">



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id: {
           type: Number
         }, iban1: {
           type:   String
         }, iban2: {
           type:   String
         }, importe: {
           type: Number
         }, saldo: {
           type: Number
         }, token: {
           type: Number
         }, cuentas: {
           type: Array
         }, pagina: {
           type: String
         }, seleccionada1: {
           type:Boolean,
           value: false
         }, seleccionada2: {
           type:Boolean,
           value: false
         }
        };
      }




        showData(data){ // en el método showData se rellenan los campos de la página
          console.log("data.detail.response " + data.detail.response);// si es un objeto puedo utilizar el punto si fuera un array tendría que utilizar [i]
           // con el this accedo al webcomponent. la propiedad que se corresponde con el detalle del dato punto,por ser una objeto

          this.cuentas= data.detail.response;
          this.iban = '0';

          this.token = this.id



          // this.iban = data.detail.response[0].IBAN;
          // this.saldo = data.detail.response[0].Importe;


        } // fin del método showData



        ctaevento1(e){ // se define un  metodo para crear una  variable JSON con el contenido
            console.log("El usuario ha elegido la cuenta origen ");


            console.log("cta " + this.$.accountsList.itemForElement(e.target))


            var item = this.$.accountsList.itemForElement(e.target);
            console.log("la cta origen seleccionada es " + item.IBAN);
            this.iban1 = item.IBAN;
            this.saldo = item.Importe
            this.seleccionada1 = true;

          console.dir(this.$.accountsList.itemForElement(e.target))
          var marca = "<div id='origen' id='destino' class='col-4 datos marcado'>"+this.iban1+"</div>"

          //this.shadowRoot.getElementById("origen").innerHTML = marca
          //this.$$('#origen').innerHTML = marca

          // this.shadowRoot.querySelector('#origen').innerHTML = marca
          //this.$.domRepeat.this.$.accountsList.itemForElement[e.target].innerHTML = marca






        }  // fin del metodo
        ctaevento2(e){ // se define un  metodo para crear una  variable JSON con el contenido
            console.log("El usuario ha elegido la cuenta destino ");


            console.log("cta " + this.$.accountsList.itemForElement(e.target))


            var item = this.$.accountsList.itemForElement(e.target);
            console.log("la cta destino seleccionada es " + item.IBAN);
            this.iban2 = item.IBAN;
            this.seleccionada2 = true;



        }  // fin del metodo


        consultar(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
            console.log("El usuario ha pulsado el botón consultas ");
            console.log("Voy a enviar la petición");

            console.log("petición enviada" + this.iban1 );
            if(this.seleccionada1){
              console.log('*******  guardamos el token *********')

              console.log("token " + this.token)

              sessionStorage.setItem('mitoken', this.token);
              console.log ("compruebo que están en la sessionStorage ")


              console.log(" ********   token  *********")
              console.log(sessionStorage['mitoken']);

              this.pagina = "/movtos/";

              let url = ('http://127.0.0.1:8081/user/' + this.token + '/cuentas/' + this.token + this.pagina + this.iban1)
                window.location.assign(url)        // window.location.href = url

            }else{
              console.log("no ha seleccionado ninguna cuenta")
              let error = "Primero debe seleccionar una cuenta"
              this.shadowRoot.getElementById("msg").innerHTML = error;
            }
        }  // fin del metodo


        operar(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
            console.log("El usuario ha pulsado el botón operar ");
            console.log("Voy a enviar la petición");


            if(this.seleccionada1){
              this.pagina = "/operar/";


              console.log('*******  guardamos el  saldo y el token *********')
              console.log("saldo " + this.saldo)
              console.log("token " + this.token)
              sessionStorage.setItem('misaldo', this.saldo);
              sessionStorage.setItem('mitoken', this.token);
              console.log("petición enviada" + this.iban1  );
              let url = ('http://127.0.0.1:8081/user/' + this.token + '/cuentas/' + this.token + this.pagina + this.iban1)
              window.location.assign(url)        // window.location.href = url
            }else{
              console.log("no ha seleccionado ninguna cuenta")
              let error = "Primero debe seleccionar una cuenta"
              this.shadowRoot.getElementById("msg").innerHTML = error;
            }
        }  // fin del metodo

        traspasar(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
          console.log("El usuario ha pulsado el botón traspasar ");
          console.log("Voy a enviar la petición");


          if((this.seleccionada1)&&(this.seleccionada2)){
            if(this.iban1==this.iban2){
              let msgerror = ("La cuenta origen a de ser distinta a la cuenta destino")
              this.shadowRoot.getElementById("msg").innerHTML = msgerror
            }else{
              sessionStorage.setItem('misaldo', this.saldo);
              sessionStorage.setItem('mitoken', this.token);
              sessionStorage.setItem('miIBAN2', this.iban2);
              this.pagina = "/traspasar/";
                // if (this.importe > this.saldo){
                //   let msgerror = ("No hay suficiente saldo")
                //   this.shadowRoot.getElementById("msgimporte").innerHTML = msgerror
                //   var traspaso = {
                //     "Importe" : this.importe,
                //     "IBANORIGEN": this.iban1,
                //     "IBANDESTINO": this.iban2
                //   };
                //
                //   //   this.$.traspasar.body = JSON.stringify(traspaso); // el dolar es por acceder a un elemento del DOM local. La id de iron-ajax
                //   // // //
                //   //   this.$.traspasar.generateRequest();
                //
                //    console.log("petición enviada" + traspaso.Importe);
                //
                  let url = ('http://127.0.0.1:8081/user/' + this.token + '/cuentas/' + this.token + this.pagina + this.iban1)
                  window.location.assign(url)        // window.location.href = url
                // } // end if del importe superior al saldo
            }// end if del iban origen distinto al destino
          } else{
            let msgerror = ("Tiene que seleccionar una cuenta origen y una cuenta destino")
            this.shadowRoot.getElementById("msg").innerHTML = msgerror
        }// end if de si faltan campos necesarios por seleccionar
      }  // fin del metodo


      volver(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
            console.log("El usuario ha pulsado el botón operar ");
            console.log("Voy a enviar la petición");
            this.token = this.id
            let url = ('http://127.0.0.1:8081/user/' + this.token)
            window.location.assign(url)        // window.location.href = url
      }  // fin del metodo
    }// fin de la clase VisorCuentas

    window.customElements.define(VisorCuentas.is, VisorCuentas);

  </script>
</dom-module>
