<!-- emisor-evento.html -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <h2>Soy el Emisor</h2>
   <button on-click="sendEvent">No Pulsar</button>


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class EmisorEvento extends Polymer.Element {
     static get is() { return 'emisor-evento'; }
     static get properties() {
       return {
       };
     }
     sendEvent(e){// se declara la función que se ejecuta al pulsar el evento
       console.log("el usuario a pulsado el botón");
       console.log(e);

       this.dispatchEvent( // lanza el evento
         new CustomEvent(// el evento es myevent que no puede ir en mayúsculas
           "myevent",
           {
             "detail" : {
               "course" : "TechU",
               "year" : 2018
           }
         }
        )
      );


     } // fin del sendEvent

     // acabamos de lanzar el evento
     // vamos  a crear el mediador entre el emisor y el receptor
   }

   window.customElements.define(EmisorEvento.is, EmisorEvento);
 </script>
</dom-module>
