<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


  <!-- con el all initial estamos reseteando las caracterísicas para que no herede ninguna de las propiedades de index -->
<dom-module id="visor-usuario">
  <template>
    <style>

    .tabla {
      style="width:100%"
    }
    :host {
      display: block;
      border: solid green;
      background-color: black;

     }

     .botones {
       margin-left: 20px;
       padding-left: 20px;
       margin-right: 20px;
       font-size: 30px;

       color: green;
       color:  #00ff00;
       background-color: black;

     }
     .boton {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: white;
       box-shadow: 3px 3px 10px #666;
     }
     .boton1 {
       font-size: 25px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: #81F781;
       box-shadow: 3px 3px 10px #666;
       width: 50%;
       height:110px;
       padding-bottom: 20px;
     }

     .datos  {
       font-size: 20px;

     }
      .cuerpo {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;

        color: green;

        color:  #00ff00;

        background-color: black;
      }
      .titulo {
        text-align: left;
        color: green;
        padding-top: 20px;

        color:  #00ff00;
      }
      .cabecera  {
        padding: 20px;
        text-decoration: underline red;
      }

      .campos {
        margin-left: 20px;
        font-size: 25px;
        box-shadow: 2px 2px 10px #666;

        color: #9c9c9c;
        color:  #00ff00;
        background-color: black;
      }
      .formulario {
        margin-top: 40px;
        text-align: center;

        font-size: 25px;


        color: #9c9c9c;
        color:  #00ff00;

      }

      .aviso  {
        margin-left: 25px;
        color:red;
        font-size: 20px;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperbutton2 {
                   color: #4682B4;
                   background: white;
                   font-family:sans-serif;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <br>

    <div class='cuerpo'>
      <div class='titulo'>

        <div class='container'>
          <div class='row justify-content-start'>

            <!-- <div class = 'col-8' > -->

            <div class = 'col-10 align-self-start' >


                  <h3 class='py-1 text-left  display-5'> <img width="6%" src="/src/iconos/usuario.png" alt="x" /> [[first_name]] [[last_name]]</h3>
                  <h3 class='py-1 text-left  display-5'> <img width="6%" src="/src/iconos/email.png" alt="x" /> [[email]]  </h3>

            </div> <!--col-->
        </div> <!--row-->
      </div> <!--container-->

      </div> <!--titulo-->

      <div class="aviso">
            <p id="msg"></p>
      </div>

      <div class='container formulario'>
        <div class='row '>
          <div class = 'col-6'>


                    <div class='form-group'>
                        <button  class='boton1' on-click="cuentas">Cuentas <img width="26%" src="/src/iconos/bolsa.png" alt="x" /></button>
                    </div>

                    <div class='form-group'>
                        <button class='boton1' on-click="contratar">Contratar <img width="23%" src="/src/iconos/contratar.png" alt="x" /></button>
                    </div>





          </div> <!--col-6-->

          <div class = 'col-6'>




                <div class='form-group'>

                     <button class='boton1' on-click="password">Password <img width="26%" src="/src/iconos/password.jpeg" alt="x" /></button>
                </div>

                <div class='form-group'>
                    <button class='boton1' on-click="externa">Divisas <img width="26%" src="/src/iconos/divisas.jpeg" alt="x" /></button>
                </div>

          </div> <!--col-6-->
        </div>  <!--row-->
      </div>  <!--container-->
<hr>

<div class='botones'>
  <div class='container'>
    <div class='row justify-content-end'>

      <div class = 'col-2 col align-self-end ' >

          <button class='boton' on-click="logout">LogOut <img width="30%" src="/src/iconos/logout.jpeg" alt="x" /></button>
      </div>
  </div>
</div>
</div>


  </div> <!--cuerpo-->
  <br> <br>

  <!-- hemos puesto la htp de postman del get user v2 id     url="http://localhost:3000/apitechu/v2/users/{{id}}" -->
  <!-- el iron-ajax es auto porque se ejecuta sin más -->


  <iron-ajax  auto
  id="getUser"
  url="http://localhost:3000/apitechu/v3/users/{{id}}"

  handle-as="json"
  on-response="showData">



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

     class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number
          }, token: {
            type: String
          }, pagina: {
            type: String
          }

        };
      }




        showData(data){ // en el método showData se rellenan los campos de la página
          console.log(data.detail.response);// si es un objeto puedo utilizar el punto si fuera un array tendría que utilizar [i]
          this.first_name = data.detail.response.first_name; // con el this accedo a la propiedad que se corresponde con el detalle del dato punto,por ser una objeto
          this.last_name = data.detail.response.last_name;
          this.email = data.detail.response.email
          this.token = this.id

        }



    //
        contratar(){ // se define un  metodo que se llama contratar
            console.log("El usuario ha pulsado el botón contratar cuentas ");
            console.log("Voy a enviar la petición");


            this.pagina = "/contratar/";
            console.log("id " + this.id);
            this.token = this.id
            let url = ('http://127.0.0.1:8081/user/' + this.token + this.pagina + this.token)
            window.location.assign(url)        // window.location.href = url

        }  // fin del metodo contratar
    //
        cuentas(){ // se define un  metodo que se llama cuentas
            console.log("El usuario ha pulsado el botón consulta de cuentas ");
            console.log("Voy a enviar la petición");


            this.pagina = "/cuentas/";
            console.log("id " + this.id);
            this.token = this.id
            let url = ('http://127.0.0.1:8081/user/' + this.token + this.pagina + this.token)
            window.location.assign(url)        // window.location.href = url


        }  // fin del metodo cuentas
    //
        password(){ // se define un  metodo que se llama password
            console.log("El usuario ha pulsado el botón password");
            console.log("Voy a enviar la petición");


            this.pagina = "/password/";
            console.log("id " + this.id);
            this.token = this.id
            let url = ('http://127.0.0.1:8081/user/' + this.token + this.pagina + this.token)
            window.location.assign(url)        // window.location.href = url

        }  // fin del metodo password

        externa(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
              console.log("El usuario ha pulsado el botón operar ");
              console.log("Voy a enviar la petición");
              this.token = this.id
              this.pagina = "/divisas/";
              let url = ('http://127.0.0.1:8081/user/' + this.token + this.pagina +this.token)
              window.location.assign(url)        // window.location.href = url
        }  // fin del metodo


        logout(){ // se define un  metodo que se llama logout
            console.log("El usuario ha pulsado el botón logout ");
            console.log("Voy a enviar la petición");

            this.pagina = "/logout/";
            console.log("id " + this.id);
            this.token = this.id
            let url = ('http://127.0.0.1:8081/user/' + this.token + this.pagina + this.token)
            window.location.assign(url)        // window.location.href = url


        }  // fin del metodo logout
      }


    //

    // this.token = this.id
    // let url = ('http://127.0.0.1:8081/user/' + this.token + this.pagina + this.token)
    // window.location.assign(url)        // window.location.href = url


    //window.location = this.pagina + this.token ;

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
