<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">




  <!-- con el all initial estamos reseteando las caracterísicas para que no herede ninguna de las propiedades de index -->
<dom-module id="traspaso-cuentas">
  <template>
    <style>

              .tabla {
                style="width:100%"
              }
              :host {
                display: block;
                border: solid green;
                background-color: black;

               }

               .botones {
                 margin-left: 20px;
                 margin-right: 20px;
                 font-size: 30px;

                 color: green;
                 color:  #00ff00;
                 background-color: black;

               }
               .boton {
                 font-size: 30px;
                 color: black;
                 text-shadow: 1px 1px 0;
                 background-color: white;
                 box-shadow: 3px 3px 10px #666;
               }
               .boton1 {
                 font-size: 30px;
                 color: black;
                 text-shadow: 1px 1px 0;
                 background-color: #81F781;
                 box-shadow: 3px 3px 10px #666;
                 width: 30%;

               }


               .datos  {
                 font-size: 8px;

               }
                .cuerpo {
                  margin-left: 20px;
                  margin-right: 20px;
                  font-size: 25px;

                  color: green;

                  color:  #00ff00;

                  background-color: black;
                }
                .titulo {
                  text-align: center;
                  color: green;

                  color:  #00ff00;
                }
                .cabecera  {
                  padding: 20px;
                  text-decoration: underline red;
                }

                .campos {
                  margin-left: 20px;
                  font-size: 25px;
                  box-shadow: 2px 2px 10px #666;

                  color: #9c9c9c;
                  color:  #00ff00;
                  background-color: black;
                }
                .aviso  {
                  margin-left: 25px;
                  color:red;
                  font-size: 20px;
                }
                .paperbutton {
                            background: #4682B4;
                            color: white;
                            font-family:sans-serif;
                 }
                 .paperbutton2 {
                             color: #4682B4;
                             background: white;
                             font-family:sans-serif;
                  }
    </style>
     <!-- link  de BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- definimos la pantalla que va a tener dos campos input para email y password y un botón -->
    <!-- {{email::input}} es porque es two way para que lo que se escriba en la pantalla se recupere     -->
    <!-- {{email::input}} Los dos puntos es para      -->
    <br>
    <div class= 'cuerpo'>
      <div class= 'titulo'>
          <div class='container'>
            <div class='row justify-content-center'>
              <div class='col-8'>

                    <h2 class= 'display-5 bg-success'> Alta de Traspaso <img width="10%" src="/src/iconos/transferencia.jpeg" alt="x" /></h2>
                    <h2> Cuenta origen: [[id]] <p id='litsaldo'></p> <p  id='litdestino'></p> </h2>
              </div> <!-- col-->
            </div> <!-- row-->
          </div> <!-- container-->
        </div> <!-- titulo-->
      </div> <!-- cuerpo-->

<br>

    <form>
    <div class="campos">

              <label for="importe">Importe:</label>
              <input placeholder="0,00" size="15" type="text" id="importe" value="{{importe::input}}"/>




           <!-- <select  items="{{concepto}}" name="tipomovto"  id="tipomovto">>

                  <option  value="Ingreso">  Ingreso</option>
                  <option  value="Debito">  Débito</option>

            </select> -->

            <div class="aviso">
                  <p id="msgsaldo"></p>
                            <p id="msgimporte"></p>

            </div>


    </div>
    </form>

    <br>
      <div class="botones">
          <button class="boton1" on-click="traspasar">Alta del Traspaso  </button>

      </div>


        <br>
</div>
  <br>
</div>
<br>
<div class='botones'>
  <div class='container'>
    <div class='row justify-content-end'>

      <div class = 'col-2 col align-self-end ' >

          <button class='boton' on-click="volver">Volver <img width="30%" src="/src/iconos/volver.jpeg" alt="x" /></button>
      </div>
  </div>
</div>
</div>



      <!-- iron-ajax, que es lo que se necesita para utilizar AJAX -->

      <!-- EN URL hemos puesto la htp de postman  -->
      <!-- el iron-ajax es auto porque se ejecuta sin más, en este caso es necesario introducir datos y pulsar intro -->
      <!--handle-as sirve para indicar el formato de los datos, en este caso JSON -->
      <!-- El método en este caso es POST -->
      <!-- ON-RESPONSE, se define el método que se encarga de rellenar los campos de respuesta en la página -->
      <!-- on-error, se define el metodo que se encarga de gestionar los errores, en este caso showError -->

      <iron-ajax
        id="traspa"
        url="http://localhost:3000/apitechu/v2/traspasos"
        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse"
        on-error = "showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */



    /**
     * @customElement
     * @polymer
     */
    class traspasoCuentas extends Polymer.Element {
      static get is() { return 'traspaso-cuentas'; }
      static get properties() {
        return {
           id: {
            type: Number
          }, ibanorigen: {
            type:   String
          }, ibandestino: {
            type:   String
          }, importe: {
            type: Number
          }, saldo: {
            type: Number
          }, token: {
            type: Number
          }, pagina: {
            type: String
          }
        };
      }




        showData(data){ // en el método showData se rellenan los campos de la página
          console.log("data.detail.response " + data.detail.response);// si es un objeto puedo utilizar el punto si fuera un array tendría que utilizar [i]
           // con el this accedo al webcomponent. la propiedad que se corresponde con el detalle del dato punto,por ser una objeto

          this.cuentas= data.detail.response;


          this.ibanorigen = this.id


          // this.ibanorigen = data.detail.response[0].IBAN;
          // this.saldo = data.detail.response[0].Importe;

        } // fin del método showData



        traspasar(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
            console.log("El usuario ha pulsado el botón traspasar ");
            console.log("Voy a enviar la petición");
            this.saldo = parseInt(sessionStorage['misaldo'])
            this.ibanorigen = this.id
            this.ibandestino = sessionStorage['miIBAN2']
            console.log(" saldo " + this.saldo + " €")
            let literalsaldo = ("saldo: " + this.saldo + " €.")
            let literaldestino = ("Cuenta Destino: " + this.ibandestino)
            this.shadowRoot.getElementById("litsaldo").innerHTML = literalsaldo
            this.shadowRoot.getElementById("litdestino").innerHTML = literaldestino
            console.log(" ********   token  *********")
            this.token = parseInt(sessionStorage['mitoken'])
            console.log(" saldo " + this.saldo)


          //  let disponible = ("El saldo disponible es de " +this.saldo + " €")
          //  this.shadowRoot.getElementById("msgsaldo").innerHTML = disponible
           console.log("importe" + this.importe);

           console.log(typeof this.importe)
           //this.saldo = data.body.importe;
           //console.log("re.param.IBAN " + req.param.id)
           console.log("Id " + this.id)
           this.iban = this.id
           console.log("IBAN " + this.iban)
           console.log("SALDO " + this.saldo)

           console.log("this.importe " + this.importe)



             let imp = parseInt(this.importe)
             this.importe = imp
             console.log(typeof this.importe)




           if (isNaN(this.importe)){
             console.log("el importe es no numérico")
             let msgerror = "El importe no es numérico, por favor, corríjalo"
             this.shadowRoot.getElementById("msgimporte").innerHTML = msgerror

          } else {

                console.log("el importe no es numerico")

                if (this.importe >this.saldo){
                    console.log (" no hay suficiente saldo "  + this.importe + "-" + this.saldo)
                    let msgerror = ("No hay suficiente saldo")
                    this.shadowRoot.getElementById("msgimporte").innerHTML = msgerror
                } else {
                      console.log (" vamos a hacer el traspaso")
                      var traspaso = {
                          "Importe" : this.importe,
                          "IBANORIGEN": this.ibanorigen,
                          "IBANDESTINO": this.ibandestino
                      };
                      console.log(traspaso)

                      this.$.traspa.body = JSON.stringify(traspaso); // el dolar es por acceder a un elemento del DOM local. La id de iron-ajax
                        // //
                      this.$.traspa.generateRequest();

                       console.log("petición enviada" + traspaso.Importe);
                       sessionStorage.removeItem('misaldo');
                       sessionStorage.removeItem('mitoken');
                       sessionStorage.removeItem('miIBAN2');


                         let url = ('http://127.0.0.1:8081/user/' + this.token + '/cuentas/' + this.token)
                         window.location.assign(url)        // window.location.href = url

                      } // end if del importe superior al saldo
            }// end-if importe numérico

        }  // fin del metodo

        volver(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
            console.log("El usuario ha pulsado el botón operar ");
            console.log("Voy a enviar la petición");
            this.token = sessionStorage['mitoken']
            console.log(" saldo " + this.token)
            sessionStorage.removeItem('misaldo');
            sessionStorage.removeItem('mitoken');
            sessionStorage.removeItem('miIBAN2');



            let url = ('http://127.0.0.1:8081/user/' + this.token + '/cuentas/' + this.token)
            window.location.assign(url)        // window.location.href = url



        }  // fin del metodo



    }// fin de la clase


    window.customElements.define(traspasoCuentas.is, traspasoCuentas);




  </script>
</dom-module>
