<!-- page-not-found.html -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="page-not-found">
 <template>
   <style>

   .tabla {
     style="width:100%"
   }
   :host {
     display: block;
     border: solid green;
     background-color: black;

    }

    .botones {
      margin-left: 20px;
      padding-left: 20px;
      margin-right: 20px;
      font-size: 30px;

      color: green;
      color:  #00ff00;
      background-color: black;


    }
    .boton {
      font-size: 30px;
      color: black;
      text-shadow: 1px 1px 0;
      background-color: white;
      box-shadow: 3px 3px 10px #666;
    }

    .datos  {
      font-size: 20px;

    }
     .cuerpo {
       margin-left: 20px;
       padding-left: 20px;
       margin-right: 20px;
       font-size: 25px;

       color: green;

       color:  #00ff00;

       background-color: black;
     }
     .titulo {
       text-align: center;
       color: green;
       padding-top: 20px;

       color:  #00ff00;
     }
     .cabecera  {
       padding: 20px;
       text-decoration: underline red;
     }

     .campos {
       margin-left: 20px;
       font-size: 25px;
       box-shadow: 2px 2px 10px #666;

       color: #9c9c9c;
       color:  #00ff00;
       background-color: black;
     }
     .aviso  {
       margin-left: 25px;
       color:red;
       font-size: 20px;
     }
     .paperbutton {
                 background: #4682B4;
                 color: white;
                 font-family:sans-serif;
      }
      .paperbutton2 {
                  color: #4682B4;
                  background: white;
                  font-family:sans-serif;
       }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

   <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


<hr>

<div class='cuerpo'>
        <h3 class ='display-5 bg-success'> Aquí no hay nada que ver....  <img width="5%" src="/src/iconos/once.jpeg" alt="x" /> </h3>
</div>


<br>
<br>
<br>
  <div class='container'>
      <div class='row justify-content-end'>

          <div class='botones'>


             <h3> Pero, AQUÍ SI!!!...
                 <button class='boton' on-click="start"> <img width="15%" src="/src/iconos/ojo.jpeg" alt="x" /> ENTRAR </button>
             </h3>

           </div>
         </div>
   </div>
  <br>


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class PageNotFound extends Polymer.Element {
     static get is() { return 'page-not-found'; }
     static get properties() {
       return {
       };
     }
     start(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
           console.log("El usuario ha pulsado el botón operar ");
           console.log("Voy a enviar la petición");
           let url = ('http://127.0.0.1:8081/login')
           window.location.assign(url)        // window.location.href = url
     }  // fin del metodo
   }

   window.customElements.define(PageNotFound.is, PageNotFound);
 </script>
</dom-module>
