<!-- gestor-evento.html -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">

<dom-module id="gestor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <h2>Soy el MEDIADOR</h2>
   <emisor-evento on-myevent="procesaEvento"></emisor-evento>
   <receptor-evento id="receiver"></receptor-evento>




 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorEvento extends Polymer.Element {
     static get is() { return 'gestor-evento'; }
     static get properties() {
       return {
       };
     }

     procesaEvento(e){
       console.log("Capturado el evento del emisor");
       console.log(e.detail);
       this.$.receiver.course = e.detail.course;
       this.$.receiver.year = e.detail.year;

     }
   } // fin de la clase GestorEvento

   window.customElements.define(GestorEvento.is, GestorEvento);
 </script>
</dom-module>
