<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


  <!-- con el all initial estamos reseteando las caracterísicas para que no herede ninguna de las propiedades de index -->
<dom-module id="logout-usuario">
  <template>
    <style>
    .tabla {
      style="width:100%"
    }
    :host {
      display: block;
      border: solid green;
      background-color: black;

     }

     .botones {
       margin-left: 20px;
       margin-right: 20px;
       font-size: 30px;

       color: green;
       color:  #00ff00;
       background-color: black;

     }
     .boton {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: white;
       box-shadow: 3px 3px 10px #666;
     }
     .boton1 {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: #81F781;
       box-shadow: 3px 3px 10px #666;
       width: 30%;

     }

     .datos  {
       font-size: 20px;

     }
      .cuerpo {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;

        color: green;

        color:  #00ff00;

        background-color: black;
      }
      .titulo {
        text-align: center;
        color: green;
        padding-top: 20px;
        color:  #00ff00;
      }
      .cabecera  {
        padding: 20px;
        text-decoration: underline red;
      }

      .campos {
        margin-left: 20px;
        font-size: 25px;
        box-shadow: 2px 2px 10px #666;

        color: #9c9c9c;
        color:  #00ff00;
        background-color: black;
      }
      .aviso  {
        margin-left: 25px;
        color:red;
        font-size: 20px;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperbutton2 {
                   color: #4682B4;
                   background: white;
                   font-family:sans-serif;
        }
    </style>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


<br>
    <div class='cuerpo'>

          <div class='titulo'>
              <h3 class ='display-5 bg-success'> Finalizar Sesion  <img width="5%" src="/src/iconos/logout.jpeg" alt="x" /></h3>
          </div>

          <br>
          <div class='botones'>
                <button id='btnexit'class='boton1' on-click="salir">salir del sistema</button>

          </div>
          <br>


        <div class="aviso">
              <p id="msg"></p>
        </div>
  <br>
  </div>
  <br>
  <br>
  <div class='botones'>
    <div class='container'>
      <div class='row justify-content-end'>

        <div class = 'col-2 col align-self-end ' >

            <button class='boton' on-click="volver">Volver <img width="30%" src="/src/iconos/volver.jpeg" alt="x" /></button>
        </div>
    </div>
  </div>
  </div>


  <!-- hemos puesto la htp de postman del get user v2 id     url="http://localhost:3000/apitechu/v2/users/{{id}}" -->
  <!-- el iron-ajax es auto porque se ejecuta sin más -->
    <iron-ajax
  id="doOut"
  url="http://localhost:3000/apitechu/v2/logout/{{id}}"
  handle-as="json"
  content-type="application/json"
  method="POST"
  on-response="showData">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class logout extends Polymer.Element {
        static get is() { return 'logout-usuario'; }
        static get properties() {
          return {
            id: {
              type: Number
            }, token: {
              type: Number
            }, pagina: {
              type: String
            }

          };

        }


      salir(){ // se define un  metodo que se llama
            console.log(" logout  Voy a enviar la petición");


            this.token  = this.id


            console.log("token " + this.token);
            console.log("id " + this.id);

                     var outData = {
                       "token": this.token
                     };

               console.log("logout " + outData + "-" + outData.token)



              this.$.doOut.body = JSON.stringify(outData); // el dolar es por acceder a un elemento del DOM local. La id de iron-ajax
              console.log("body " + this.$.doOut )
              this.$.doOut.generateRequest();


             }

             volver(){ // se define un  metodo que se llama cuentas
                 console.log("El usuario ha pulsado el botón salir ");
                 console.log("Voy a enviar la petición");
                 this.token  = this.id
                 console.log("token " + this.token);
                 console.log("id " + this.id);

                 let url = ('http://127.0.0.1:8081/user/' + this.token)

                 console.log(" url "  +   url)

                window.location.assign(url)





              }  // atras





        showData(data){ // en el método showData se rellenan los campos de la página
          console.log(data.detail.response);// si es un objeto puedo utilizar el punto si fuera un array tendría que utilizar [i]
        //  //
           let url = ('http://127.0.0.1:8081/login')
         //
          console.log(" url "  +   url)
         //
          window.location.assign(url)        // window.location.href = url

        }  //fin del metodo showData

    }  //fin de la clase logout


    //window.location = this.pagina + this.token ;

    window.customElements.define(logout.is, logout);
  </script>
</dom-module>
