<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-element-app">
  <template>

  <style>
    :host {
      display: block;
    }
  </style>
  <h2>Hello [[prop1]]!</h2>
</template>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoElementApp extends Polymer.Element {
      static get is() { return 'frontproyecto-element-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frontproyecto-element-app'
          }
        };
      }
    }

    window.customElements.define(FrontproyectoElementApp.is, FrontproyectoElementApp);
  </script>
</dom-module>
