<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">




  <!-- con el all initial estamos reseteando las caracterísicas para que no herede ninguna de las propiedades de index -->
<dom-module id="operar-movtos">
  <template>
    <style>

    .tabla {
      style="width:100%"
    }
    :host {
      display: block;
      border: solid green;
      background-color: black;

     }

     .botones {
       margin-left: 20px;
       margin-right: 20px;
       font-size: 30px;

       color: green;
       color:  #00ff00;
       background-color: black;

     }
     .boton {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: white;
       box-shadow: 3px 3px 10px #666;
     }
     .boton1 {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: #81F781;
       box-shadow: 3px 3px 10px #666;
       width: 30%;

     }


     .datos  {
       font-size: 20px;

     }
      .cuerpo {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;

        color: green;

        color:  #00ff00;

        background-color: black;
      }
      .titulo {
        text-align: center;
        color: green;
        padding-top: 20px;
        color:  #00ff00;
      }
      .cabecera  {
        padding: 20px;
        text-decoration: underline red;
      }

      .campos {
        margin-left: 20px;
        font-size: 25px;
        box-shadow: 2px 2px 10px #666;

        color: #9c9c9c;
        color:  #00ff00;
        background-color: black;
      }
      .aviso  {
        margin-left: 25px;
        color:red;
        font-size: 20px;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperbutton2 {
                   color: #4682B4;
                   background: white;
                   font-family:sans-serif;
        }
    </style>
     <!-- link  de BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- definimos la pantalla que va a tener dos campos input para email y password y un botón -->
    <!-- {{email::input}} es porque es two way para que lo que se escriba en la pantalla se recupere     -->
    <!-- {{email::input}} Los dos puntos es para      -->
<br>
<div class= 'cuerpo'>
  <div class= 'titulo'>
      <div class='container'>
        <div class='row justify-content-center'>
          <div class='col-10'>

              <h2 class='display-5 bg-success'> Alta de Operaciones <img width="8%" src="/src/iconos/operar.png" alt="x" /> Cuenta: [[id]]</h2>

          </div>

        </div>
      </div>

      <h3 class='display-5'>   <p id='litsaldo'></p>  </h3>
  </div>
  <br>
  <br>
  <form>
   <div class="campos">
        <label for="importe">Importe:</label>
        <input placeholder="0,00" size="15" type="text" id="importe" value="{{importe::input}}"/>
        <select  items="{{concepto}}" name="tipomovto"  id="tipomovto">>

                  <option  value="Ingreso">  Ingreso</option>
                  <option  value="Debito">  Débito</option>

        </select>


            <p id="msgsaldo"></p>
        <div class="aviso">
            <p id="msgimporte"></p>

        </div>


  </div>
  </form>
    <hr>
    <br>
    <br>
      <div class="botones">
          <button class="boton1" on-click="operar">Alta de Movimiento </button>
      </div>

        <br>
</div>
<br>
<div class='botones'>
  <div class='container'>
    <div class='row justify-content-end'>

      <div class = 'col-2 col align-self-end ' >

          <button class='boton' on-click="volver">Volver <img width="30%" src="/src/iconos/volver.jpeg" alt="x" /></button>
      </div>
  </div>
</div>
</div>



      <!-- iron-ajax, que es lo que se necesita para utilizar AJAX -->

      <!-- EN URL hemos puesto la htp de postman  -->
      <!-- el iron-ajax es auto porque se ejecuta sin más, en este caso es necesario introducir datos y pulsar intro -->
      <!--handle-as sirve para indicar el formato de los datos, en este caso JSON -->
      <!-- El método en este caso es POST -->
      <!-- ON-RESPONSE, se define el método que se encarga de rellenar los campos de respuesta en la página -->
      <!-- on-error, se define el metodo que se encarga de gestionar los errores, en este caso showError -->

      <iron-ajax
        id="doOpen"
        url="http://localhost:3000/apitechu/v2/movimientos"

        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponse"
        on-error = "showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */


//  Alta de la clase LoginUsuario, que hereda de la clase Polymer

// La clase LoginUsuario tiene por dentro :
//    Los metodos staticos get is() y get properties()
//    El método Login(), que se encarga de construir en JSON la variable del req -solicitud- y enviarla con generateRequest al MLAB
//    El método on-response de iron-ajax, manageAJAXResponse que se encarga de pasarlo a la pantalla
//    El Método showError para el tratamiento del error.
//

    class operarMovimientos extends Polymer.Element {


      // Se invoca a los métodos estáticos get is y get properties que devuelve el email y la password
      static get is() { return 'operar-movtos'; }
      static get properties() {
        return {
           id: {
            type: String
          }, iban: {
            type:   String
          }, token: {
           type: Number
         }, pagina: {
            type: String
          }, importe: {
            type: Number
          }, saldo : {
            type: Number
          }, concepto: {
            type: String
          }
        };

      } // fin del método get properties()

      // Dentro de la

      //var pagina = "";


      volver(){ // se define un  metodo que se llama cuentas


          console.log("El usuario ha pulsado el botón atras ");

          console.log ("vamos a intentar recuperarlos ")


          console.log(" ********   token  *********")
          this.token = sessionStorage['mitoken']
          console.log(" saldo " + this.token)

         console.log ("los borramos... ")

         sessionStorage.removeItem('misaldo');
         sessionStorage.removeItem('mitoken');
          console.log("Voy a enviar la petición");

          this.pagina = "/cuentas/";
          console.log("token " + this.token);
          console.log("id " + this.id);


          let url = ('http://127.0.0.1:8081/user/' + this.token + this.pagina + this.token)

          console.log(" url "  +   url)

         window.location.assign(url)





       }  // atras


        operar(){ // se define un  metodo  para crear una  variable JSON con el contenido

            console.log("Vamos a dar de alta el movimiento");
            // Se define la variable loginData.
            // En el momento que escriba en el input ya tenemos los datos porque
            // tal y como lo hemos definido en el input es {{two way}}
            // this accedo al webcomponent
            //btncta.addEventListener('click', saludar).

            console.log ("vamos a intentar recuperarlos ")
            console.log(" ********   saldo  *********")
            this.saldo = sessionStorage['misaldo']
            console.log(" saldo " + this.saldo + " €")
            let literalsaldo = ("saldo: " + this.saldo + " €")
            this.shadowRoot.getElementById("litsaldo").innerHTML = literalsaldo
            console.log(" ********   token  *********")
            this.token = sessionStorage['mitoken']
            console.log(" saldo " + this.token)

           console.log ("los borramos... ")

           let disponible = ("El saldo disponible es de " +this.saldo + " €")
           this.shadowRoot.getElementById("msgsaldo").innerHTML = disponible




            console.log("importe" + this.importe);

            console.log(typeof this.importe)
            //this.saldo = data.body.importe;
            //console.log("re.param.IBAN " + req.param.id)
            console.log("Id " + this.id)
            this.iban = this.id
            console.log("IBAN " + this.iban)
            console.log("SALDO " + this.saldo)
            this.concepto =  this.shadowRoot.querySelector("#tipomovto").value;
            console.log(" CONCEPTO " + this.concepto)
            //this.saldo = req.param.importe
            console.log("saldo " + this.saldo)

            console.log("this.importe " + this.importe)



              let imp = parseInt(this.importe)
              this.importe = imp
              console.log(typeof this.importe)




            if (isNaN(this.importe)){
              console.log("el importe es no numérico")
              let msgerror = "El importe no es numérico, por favor, corríjalo"
              this.shadowRoot.getElementById("msgimporte").innerHTML = msgerror

           } else {



                //  if ((this.saldo +  this.importe) <0){
                //    console.log("No se puede retirar más dinero que el saldo de la cuenta")
                //    let error = "No se puede retirar más dinero que el saldo de la cuenta"
                //    this.shadowRoot.getElementById("msgimporte").innerHTML = error
                //  }else{

                     if(this.importe < 0){
                       let msgerror = ("No se admiten signos en el importe")
                       this.shadowRoot.getElementById("msgimporte").innerHTML = msgerror
                     }else{
                       let impmovto = this.importe
                       console.log("importe correcto " + impmovto)
                           if (this.concepto == "Debito" && impmovto >0){
                               impmovto = impmovto * (-1)
                            }
                            if ((this.concepto == "Debito") && (this.importe >this.saldo)){
                              let msgerror = ("No hay suficiente saldo")
                              this.shadowRoot.getElementById("msgimporte").innerHTML = msgerror
                            }else{
                              var openMovtos = {
                                "Importe" : impmovto,
                                "Concepto": this.concepto,
                                "IBAN": this.id
                              };

                               this.$.doOpen.body = JSON.stringify(openMovtos); // el dolar es por acceder a un elemento del DOM local. La id de iron-ajax
                              //
                               this.$.doOpen.generateRequest();

                               console.log("petición enviada" + openMovtos.Importe);
                               sessionStorage.removeItem('misaldo');
                               sessionStorage.removeItem('mitoken');

                            }// end if del control del saldo
                     }//end-if del control del signo
                 //}
            } // end-if importe numérico

        }  // fin del metodo abrir ctas

        manageAJAXResponse(data){ // Metodo on-response del Iron-ajax que va a rellenar los campos de la página
          console.log("llegaron los datos");

          console.log("token " + data.detail.response.token)



          this.token = parseInt(data.detail.response.token)
          console.log("this.token " + this.token)

          sessionStorage.removeItem('misaldo');
          sessionStorage.removeItem('mitoken');




          this.id =  data.detail.response.id;

          let url = ('http://127.0.0.1:8081/user/' + this.token + '/cuentas/' + this.token)
          window.location.assign(url)        // window.location.href = url

        } //fin del metodo manageAJAXResponse

        showError(error) {

          // this.saldo = data.detail.response.saldo


          let msgerror = ("El movimiento de la cuenta supera el saldo del contrato")

          this.shadowRoot.getElementById("msg").innerHTML = msgerror
          console.log(error);
        }

    } // Fin de la clase operar movimientos

//    window.location = "movtos/" + this.iban;

    window.customElements.define(operarMovimientos.is, operarMovimientos);
  </script>
</dom-module>
