<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


  <!-- con el all initial estamos reseteando las caracterísicas para que no herede ninguna de las propiedades de index -->
<dom-module id="cambiar-password">
  <template>
    <style>
    .tabla {
      style="width:100%"
    }
    :host {
      display: block;
      border: solid green;
      background-color: black;

     }

     .botones {
       margin-left: 20px;
       padding-top: 20px;
       padding-bottom: 20px;
       padding-left: 20px;

       margin-right: 20px;
       font-size: 30px;
       border: solid black;
       color: green;
       color:  #00ff00;
       background-color: black;

     }
     .boton {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: white;
       box-shadow: 3px 3px 10px #666;
     }
     .boton1 {
       font-size: 30px;
       color: black;
       text-shadow: 1px 1px 0;
       background-color: #81F781;
       box-shadow: 3px 3px 10px #666;
       width: 100%
     }

     .datos  {
       font-size: 20px;

     }
      .cuerpo {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;

        color: green;

        color:  #00ff00;

        background-color: black;
      }
      .titulo {
        text-align: center;
        color: green;
        padding-top: 20px;

        color:  #00ff00;
      }
      .formulario {
        border: solid green;
        border-radius: : 15px 15px 0px 0px;
        text-align: center;

        font-size: 25px;
        box-shadow: 2px 2px 10px #666;

        color: #9c9c9c;
        color:  #00ff00;
        background-color: green;
      }
      .cabecera  {
        padding: 20px;
        text-decoration: underline red;
      }

      .campos {
        margin-left: 20px;
        font-size: 25px;
        padding-top: 40px;

        color: #9c9c9c;
        color:  #00ff00;
        background-color: black;
      }
      .aviso  {
        margin-left: 25px;
        color:red;
        font-size: 20px;
      }
      .paperbutton {
                  background: #4682B4;
                  color: white;
                  font-family:sans-serif;
       }
       .paperbutton2 {
                   color: #4682B4;
                   background: white;
                   font-family:sans-serif;
        }
        .center-block{
              float: none;
        }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <div class="campos">
      <div class='container'>
        <div class='row justify-content-center'>

          <div class = 'col-6 formulario' >
                <div class='titulo'>
                      <h3> Modificar Password <img width="20%" src="/src/iconos/password.jpeg" alt="x" /> </h3>
                </div>  <!--titulo-->




                      <div class='form-group'>
                      <!-- <div> -->
                            <input placeholder="password nueva"   class="form-control" id="password" type="password" value="{{password1::input}}"/>

                      </div>
                      <div class='form-group'>
                      <!-- <div> -->
                            <input placeholder="Repite password"  class="form-control" id="password" type="password" value="{{password2::input}}"/>

                      </div>

                        <div class='form-group'>
                            <button id='btnpass' class='boton1'  on-click="modificopassword">Modificar Password</button>
                        </div>


          </div> <!--col-8-->
        </div>  <!--row-->
      </div>  <!--container-->
    </div> <!--campos-->

  </div>  <!--cuerpo-->

  <div class="aviso">
   <p id="msg"></p>
  </div>


  <div class='botones'>
    <div class='container'>
      <div class='row justify-content-end'>

        <div class = 'col-2 col align-self-end ' >

            <button class='boton' on-click="volver">Volver <img width="30%" src="/src/iconos/volver.jpeg" alt="x" /></button>
        </div>
    </div>
  </div>
</div>




  <!-- hemos puesto la htp de postman del get user v2 id     url="http://localhost:3000/apitechu/v2/users/{{id}}" -->
  <!-- el iron-ajax es auto porque se ejecuta sin más -->
  <iron-ajax
  id="modpass"
  url="http://localhost:3000/apitechu/v2/password/{{id}}"
  handle-as="json"
  content-type="application/json"
  method="POST"
  on-response="showData">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class modpassword extends Polymer.Element {
        static get is() { return 'cambiar-password'; }
        static get properties() {
            return {
                  first_name: {
                    type: String
                  }, last_name: {
                    type: String
                  }, email: {
                    type: String
                  }, id: {
                    type: Number
                  }, token: {
                    type: Number
                  }, pagina: {
                    type: String
                  }, password1: {
                    type: String
                  }, password2: {
                    type: String
                  }
            }// fin del return
          } // fin del método get properties()

        modificopassword(){ // se define un  metodo que se llama cuentas
            console.log("El usuario ha pulsado el botón password ");
            console.log("Voy a enviar la petición");
            this.token  = this.id
            console.log("token " + this.token);
            console.log("id " + this.id);
            console.log("password1")
            console.log(this.password1)

            let espacios = false;
            let cont = 0;
            if ((this.password1 === undefined)){
              console.log("password undefined")
               espacios = true;
            }else{
                while ((!espacios) && (cont < this.password1.length)) {
        	         if (this.password1.charAt(cont) === " "){
        	            espacios = true;
        	         }// end-if
                   cont++;
                }// end while
            }// end

            if ((espacios)||(this.password1 === undefined)||(this.password1 == null)||(this.password1.length == 0)){
              let msgerror = "La password no puede contener espacios"
              this.shadowRoot.getElementById("msg").innerHTML = msgerror
            } else{
                if (this.password1 === this.password2){

                        var passData = {
                            "token" : this.token,
                            "password" : this.password1
                         };
                   console.log("password iguales" + passData.token + "- " + passData.password)
                   this.$.modpass.body = JSON.stringify(passData); // el dolar es por acceder a un elemento del DOM local. La id de iron-ajax

                   this.$.modpass.generateRequest();

                }else{
                  let msgerror = "Las passwords no coinciden"
                  this.shadowRoot.getElementById("msg").innerHTML = msgerror
                }// fin del if de las password iguales
            }// end-if de la password vacia






          }  // modifico pass


           volver(){ // se define un  metodo que se llama login para crear una  variable JSON con el contenido
                     console.log("volver");
                     this.token  = this.id
                     let url = ('http://127.0.0.1:8081/user/' + this.token)

                     console.log(" url "  +   url)

                    window.location.assign(url)



           }  // fin del metodo volver



        showData(data){ // en el método showData se rellenan los campos de la página
          console.log(data.detail.response);// si es un objeto puedo utilizar el punto si fuera un array tendría que utilizar [i]
          let url = ('http://127.0.0.1:8081/user/' + this.token)

          console.log(" url "  +   url)

         window.location.assign(url)
        }  // fin del metodo showdata


    }  // fin de la clase


    //window.location = this.pagina + this.token ;

    window.customElements.define(modpassword.is, modpassword);
  </script>
</dom-module>
